In [233]:
!pip install unidecode -q
!pip install contractions
!pip install nltk

Requirement already satisfied: contractions in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from contractions) (0.0.24)
Requirement already satisfied: pyahocorasick in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from textsearch>=0.0.21->contractions) (2.0.0)
Requirement already satisfied: anyascii in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.2)
Requirement already satisfied: nltk in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from nltk) (2023.5.5)
Requirement already satisfied: joblib in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: click in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\manar\anaconda3\envs\bigd\lib\site-packages (from click->nltk) (0.4.6)

In [234]:
import pandas as pd
import re
import nltk

nltk.download('stopwords')
from nltk.corpus import stopwords
import contractions
from unidecode import unidecode


df = pd.read_csv('musk.csv', index_col=0)

df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\manar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,type,author,text,created
0,Comment,UNCwesRPh,I had been on twitter prior to the musk takeov...,2023-01-30 18:49:31+00:00
2,Comment,wgp3,That article does not say what you imply at al...,2023-01-30 18:49:28+00:00
3,Comment,HighAndDrunk,The OG musk duck lives on my wall.,2023-01-30 18:48:43+00:00
4,Comment,Louismaxwell23,How dare he speak that way to the great and po...,2023-01-30 18:48:26+00:00
5,Comment,Copykill,Can’t wait to finally have an excuse not to sh...,2023-01-30 18:48:10+00:00
...,...,...,...,...
85215,Comment,Emble12,"Like brain dead piranhas lmao, anything barely...",2023-05-01 07:09:53+00:00
85221,Comment,Pizza_in_Space,What am I lying about? What's my agenda? Pleas...,2023-05-01 07:08:43+00:00
85223,Comment,Da1realBigA,Hard disagree. I don't think he's a parody of ...,2023-05-01 07:07:36+00:00
85224,Comment,Viperions,Yeah. I think too many things are lining up ri...,2023-05-01 07:07:15+00:00
85225,Comment,Zealousideal_Plum498,Good choice by Musk. It is impossible to regul...,2023-05-01 07:06:37+00:00

In [235]:
df['type'].unique()

array(['Comment', '2023-04-30 15:47:51+00:00'], dtype=object)

In [236]:
# Remove column with only one value
df.drop(columns=['type'])

,author,text,created
0,UNCwesRPh,I had been on twitter prior to the musk takeov...,2023-01-30 18:49:31+00:00
2,wgp3,That article does not say what you imply at al...,2023-01-30 18:49:28+00:00
3,HighAndDrunk,The OG musk duck lives on my wall.,2023-01-30 18:48:43+00:00
4,Louismaxwell23,How dare he speak that way to the great and po...,2023-01-30 18:48:26+00:00
5,Copykill,Can’t wait to finally have an excuse not to sh...,2023-01-30 18:48:10+00:00
...,...,...,...
85215,Emble12,"Like brain dead piranhas lmao, anything barely...",2023-05-01 07:09:53+00:00
85221,Pizza_in_Space,What am I lying about? What's my agenda? Pleas...,2023-05-01 07:08:43+00:00
85223,Da1realBigA,Hard disagree. I don't think he's a parody of ...,2023-05-01 07:07:36+00:00
85224,Viperions,Yeah. I think too many things are lining up ri...,2023-05-01 07:07:15+00:00
85225,Zealousideal_Plum498,Good choice by Musk. It is impossible to regul...,2023-05-01 07:06:37+00:00

In [237]:
def remove_duplicates_and_na(df:pd.DataFrame) -> pd.DataFrame:
    '''Remove duplicates and NA values'''
    df.dropna(inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [238]:
def lower(text:str) -> str:
    '''Lower all characters'''
    return text.lower()

In [239]:
def replace_contractions(text:str) -> str:
    '''Replace contractions in string of text'''
    return contractions.fix(text)

In [240]:
def remove_url(text:str) -> str:
   '''Remove URLs'''
   return re.sub(r"((www.[^\s]+)|(https?://[^\s]+))", " ", text)

In [241]:
def replace_to_unicode(text:str) -> str:
    '''Replace special characters to unicode standard'''
    return unidecode(text)

In [242]:
def text_to_word_list(text:str) -> str:
    ''' Pre process and convert texts to a list of words '''
    text = str(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)

    text = text.split()

    return text

In [243]:
df = remove_duplicates_and_na(df)
df['text'] = df['text'].apply(lambda x: lower(x))
df['text'] = df['text'].apply(lambda x: remove_url(x))
df['text'] = df['text'].apply(lambda x: replace_contractions(x))
df['text'] = df['text'].apply(lambda x: replace_to_unicode(x))
df['text'] = df['text'].apply(lambda x: text_to_word_list(x))
df

,type,author,text,created
0,Comment,UNCwesRPh,"[i, had, been, on, twitter, prior, to, the, mu...",2023-01-30 18:49:31+00:00
2,Comment,wgp3,"[that, article, does, not, say, what, you, imp...",2023-01-30 18:49:28+00:00
3,Comment,HighAndDrunk,"[the, og, musk, duck, lives, on, my, wall]",2023-01-30 18:48:43+00:00
4,Comment,Louismaxwell23,"[how, dare, he, speak, that, way, to, the, gre...",2023-01-30 18:48:26+00:00
5,Comment,Copykill,"[cannot, wait, to, finally, have, an, excuse, ...",2023-01-30 18:48:10+00:00
...,...,...,...,...
85215,Comment,Emble12,"[like, brain, dead, piranhas, lmao, anything, ...",2023-05-01 07:09:53+00:00
85221,Comment,Pizza_in_Space,"[what, am, i, lying, about, what, is, my, agen...",2023-05-01 07:08:43+00:00
85223,Comment,Da1realBigA,"[hard, disagree, i, do, not, think, he, is, a,...",2023-05-01 07:07:36+00:00
85224,Comment,Viperions,"[yeah, i, think, too, many, things, are, linin...",2023-05-01 07:07:15+00:00
85225,Comment,Zealousideal_Plum498,"[good, choice, by, musk, it, is, impossible, t...",2023-05-01 07:06:37+00:00

In [244]:
def remove_stop_words(df:pd.DataFrame) -> pd.DataFrame:
    '''Remove stop words'''
    stops = set(stopwords.words('english'))
    df['text'] = df['text'].apply(lambda x: [item for item in x if item not in stops])
    return df

In [245]:
df = remove_stop_words(df)

In [246]:
def remove_dash(df):
    df['text'] = df['text'].apply(lambda x: [item for item in x if item != '-'])
    return df

df = remove_dash(df)

In [247]:
'''Remove sentences shorter than 2 words'''
df = df[df.text.str.len() > 1]

In [248]:
df.shape

(61283, 4)

In [249]:
df.to_csv('musk_clean.csv')

In [250]:
# https://gist.github.com/MrEliptik/b3f16179aa2f530781ef8ca9a16499af